.footer {
    margin-block-start: 1rem;
}

.app-footer {
    display: grid;
    // grid-template-rows: repeat(2, 1fr);

    @include for-normal-layout() {
        justify-content: center;
        gap: 1.5rem;
        padding-block-start: 1.5rem;

        article {
            width: 24rem !important;

            p:nth-of-type(1) {
                font-size: 3rem !important;
            }

            p:nth-of-type(2) {
                font-size: 2.1rem !important;
            }
        }

        .social-links-container {
            grid-row: 2;
            flex-direction: column;
            margin: auto;

            img {
                margin: 0 !important;
                width: 8.5rem !important;
            }

            .links {
                flex-direction: row;
                margin-block-start: .75rem;
                gap: 1rem;

                &>* {
                    font-size: 1.35rem;
                }
            }
        }
    }

    @include for-wide-layout() {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: none;
    }

    background-color: black;
    padding-block: .5rem;
    padding-inline: 1.5rem;

    // min-height: 100%;
    // width: 100%;

    .credit {
        align-self: end;
        justify-self: center;
        opacity: .45;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 18rem;
        align-self: center;
        justify-self: start;
        cursor: default;
        user-select: none;


        p {
            text-align: center;
            color: white;
            font-family: superital, monospace;
            letter-spacing: .10rem;
            z-index: 1;
        }

        p:nth-of-type(1) {
            font-size: 2.25rem;
        }

        p:nth-of-type(2) {
            font-size: 1.35rem;
        }

        .logo-container {
            position: relative;

            .logo {
                position: absolute;
                bottom: -40px;
                left: 140px;


                width: 8.5rem;
                opacity: .3;
            }
        }
    }

    .social-links-container {
        display: flex;
        justify-self: end;

        img {
            width: 7.5rem;
            margin-block: auto;
            margin-inline-end: 1.5rem;

            border-radius: 50%;
            justify-self: end;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &>* {
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: white;
            transition: 0.2s;

            &:hover {
                color: darken($color: white, $amount: 35);
            }
        }
    }
}

.footer-decor {
    transform: scale(-1);
    display: block;
}