.footer-container {}

.app-footer {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    // background-color: #212121;
    background-color: black;
    padding-block-end: 1rem;
    padding-inline: 1.5rem;

    .logo {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        width: 12rem;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: .5rem;

        p {
            text-align: start;
            color: white;
        }
    }

    .social-links-container {
        display: flex;
        justify-self: end;

        img {
            width: 7rem;
            margin-block: auto;
            margin-inline-end: 1.5rem;

            border-radius: 50%;
            justify-self: end;
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &>* {
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: white;
            transition: 0.2s;

            &:hover {
                color: darken($color: white, $amount: 35);
            }
        }
    }
}

.footer-decor {
    transform: scale(-1);
    display: block;
}