.app-header {
    display: flex;
    // position: fixed;
    // position: sticky;
    justify-content: space-between;

    width: 100%;

    color: $clr4;
    // background-color: inherit;
    // mix-blend-mode: difference;

    padding-inline: 2rem;
    padding-block-start: 1.25rem;
    // padding-block-end: .5rem;
    height: 9vh;

    font-size: rem(18px);
    z-index: 2;

    .header-btn {
        color: $clr4;
        background-color: inherit;
        border: none;

        font-family: superital, monospace;
        text-transform: uppercase;
        font-size: 2.25rem;
        letter-spacing: .15rem;
    }
}