.letter-container {
    display: grid;
    margin: auto;
    margin-block-start: 1rem;

    background: url('https://res.cloudinary.com/dlnkzbe0y/image/upload/v1736105462/MH-sop/ehyek5mxpy6bcct5y299.png');
    height: 100%;
    width: 95%;
    border-radius: 10px;


    .decore-upper {
        position: relative;

        &::before {
            @include challenge-decore();
        }

        &::after {
            @include challenge-decore();

            right: 0rem;
            transform: scaleX(-1);
        }
    }

    .decore-lower {
        position: relative;

        &::before {
            @include challenge-decore();

            bottom: 0rem;
            transform: scaleY(-1);
        }

        &::after {
            @include challenge-decore();

            right: 0rem;
            bottom: 0rem;
            transform: scale(-1, -1);
        }
    }

    h1 {
        font-size: 3rem;
        text-transform: capitalize;
        text-align: center;

        margin-block: 2rem;
        font-family: superital, sans-serif;
        font-weight: 400;
        letter-spacing: .15rem;
        text-shadow: 0 0 16px rgba(0, 0, 0, .5);
        grid-column: 1 / -1;
    }

    .challenge-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-inline: 4rem;

        p {
            font-family: Papyrus, 'Garamond', serif;
            color: #3a3a3a;
            font-size: 1.5rem;
            text-shadow: 0 0 16px rgba(0, 0, 0, .2);
            font-weight: 700;
        }

        p:first-of-type {
            font-size: 2rem;
            font-weight: 700;
            text-shadow: 0 0 16px rgba(0, 0, 0, .4);
        }

        ul {
            text-align: start;
            margin-block: 1.5rem;

            li {
                font-family: Papyrus, 'Garamond', serif;
                color: #3a3a3a;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }

    .challenge-imgs {
        width: 90%;
        margin-inline: auto;

        .main-img {
            max-width: 100%;
            width: 100%;
            min-height: 25rem;
            max-height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            margin-block-start: 1.5rem;
            margin-block-end: 1.35rem;

            text-shadow: 0 0 16px rgba(0, 0, 0, .5);
            font-family: superital, sans-serif;
            letter-spacing: .15rem;
            font-weight: 400;
            text-transform: uppercase;
        }

        .layered-set {
            display: flex;
            gap: 3rem;
            justify-content: center;
            text-align: center;
            margin-block-end: 3.5rem;

            p {
                font-size: 1.25rem;
                font-weight: 700;
            }

            img {
                width: 3rem;
            }
        }
    }
}