.details-container {
    display: grid;
    grid-template-columns: 30vw 40vw 0vw;

    @include for-normal-layout() {
        grid-template-columns: none;
        grid-template-rows: auto;

        h1 {
            margin-block-start: 0 !important;
            margin-block-end: 2rem !important;
        }

        .counter-container {
            grid-row: 4;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline-start: 0 !important;
            margin-block-start: 1.5rem;
            margin-block-end: .5rem;
            gap: 1rem;
        }
    }
    height: 100%;

    .counter-container {
        align-self: end;
        margin-inline-start: 2rem;
    }

    .main-info {
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-width: 100%;

        .curr-monster {
            max-height: 46vh;
            max-width: 100%;
            width: auto;
            margin-inline: auto;
            align-self: center;
        }

        h1 {
            color: $clr4;
            text-align: center;
            align-self: center;
            font-size: 2.85rem;
            margin: auto;
            // margin-block-start: 4rem;
            margin-block-end: 2rem;
        }
    }
}

.sop-btns {
    margin-inline: auto;
    margin-block-start: 2rem;

    &>* {
        margin-inline: 0.5rem;
    }
}

.smash-btn {
    @include sop-btn($clr: #67C23A, $percentage: 45%);
}

.smash-choice {
    @include btn-choice($clr: #67C23A);
}

.pass-btn {
    @include sop-btn($clr: #F56C6C, $percentage: 25%);
}

.pass-choice {
    @include btn-choice($clr: #F56C6C);
}