.monster-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding-block: 3rem;
    padding-inline: 2rem;

    .monster-preview {
        display: flex;
        flex-direction: column;
        padding: 10px;
        // background-color: $clr2;
        color: $clr4;

        width: 250px;
        height: 260px;
        
        img {
            min-width: 100%;
            height: auto;
            // margin-block-end: auto;
        }
        
        h3 {
            text-align: center;
            margin-block-start: auto;
        }
    }
}