.details-container {
    display: grid;
    grid-template-columns: 30vw 40vw 0vw;

    @include for-mobile-layout() {
        // height: 85vh;
        
        .counter-container {
            margin-block-end: 0 !important;
            gap: 1.25rem !important;
        }
        
        .main-info {
            height: 70vh;
            margin-block-end: 1rem;

            h1 {
                margin-block-end: 1rem !important;
                font-size: 2.25rem !important;
            }
        }

        .sop-btns {
            margin-block-start: auto;
        }
    }

    @include for-normal-layout() {
        grid-template-columns: none;
        grid-template-rows: auto;
        margin-inline: 1rem;
        margin-block-start: 1.5rem;

        .counter-container {
            grid-row: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-inline-start: 0 !important;
            margin-block-start: .5rem;
            margin-block-end: 1.5rem;
            gap: 1rem;
        }
    }

    height: 100%;

    .counter-container {
        align-self: end;
        margin-inline-start: 2rem;
    }

    .main-info {
        display: grid;
        grid-template-rows: auto 1fr auto;
        max-width: 100%;

        .curr-monster {
            max-height: 46vh;
            max-width: 100%;
            width: auto;
            margin-inline: auto;
            align-self: center;
        }

        h1 {
            color: $clr4;
            text-align: center;
            align-self: center;

            @include for-mobile-layout() {
                font-size: 2.5rem;
            }

            @include for-normal-layout() {
                margin-block-start: 0;
                margin-block-end: 2rem;
                margin-block-end: 3rem;
            }

            font-size: 2.85rem;
            margin: auto;
            margin-block-end: 2rem;
        }
    }
}

.sop-btns {

    @include for-mobile-layout() {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    margin-inline: auto;
    margin-block-start: 2rem;

    &>* {
        margin-inline: 0.5rem;
    }
}

.smash-btn {
    @include sop-btn($clr: #67C23A, $percentage: 45%);
}

.smash-choice {
    @include btn-choice($clr: #67C23A);
}

.pass-btn {
    @include sop-btn($clr: #F56C6C, $percentage: 25%);
}

.pass-choice {
    @include btn-choice($clr: #F56C6C);
}