.results-container {
    margin-inline: 5rem;
    margin-block-start: 7rem;

    article {
        margin-block-end: 6rem;
    }

    .result-header {
        border-bottom: 1px white solid;
        padding-block-end: .5rem;

        h2 {
            padding-block-end: .25rem;
        }
    }

    .choice-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;

        .monster-preview {
            display: flex;
            flex-direction: column;
            padding: 10px;
            color: $clr4;
            min-height: 425px;
            transition: .2s;
            cursor: pointer;
            
            img {
                width: 100%;
                margin-block: auto;
            }
            
            h3 {
                text-align: center;
            }
        }

        .mon-225 img,
        .mon-228 img {
            width: 80%;
        }
    }
}