/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover efects on iphone screen
//   @mixin hover-supported {    
//     @media not all and (pointer: coarse) {
//         &:hover {
//             @content;
//         }
//     }
//   }

@mixin sop-btn($clr, $percentage) {
    background-color: transparent;
    color: white;
    font-size: 1.25rem;

    border: 3px solid white;
    // border-radius: 4px;

    padding-inline: 3rem;
    padding-block: 1rem;

    cursor: pointer;
    transition: .25s;

    font-family: sans-serif;

    &:hover {
        background-color: $clr;
        border-color: $clr;
        color: black;
        
        // box-shadow: inset 0 0 0 2em $clr;
    }

    // &:focus {
    //     box-shadow: inset 0 0 0 2em $clr;
    // }
}

@mixin btn-choice($clr) {
    background-color: $clr;
    border-color: $clr;
    color: black;
    cursor: default;
}