/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (max-width: calc($narrow-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (max-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($normal-breakpoint + 40px)) {
        @content;
    }
}

@mixin for-extra-wide-layout {
    @media (max-width: calc($wide-breakpoint + 30px)) {
        @content;
    }
}

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    >* {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    >img {
        height: 100%;
        object-fit: cover;
    }
}

@mixin sop-btn($clr, $percentage) {
    background-color: transparent;
    color: white;
    font-size: 1.25rem;
    
    border: 3px solid white;
    // border-radius: 4px;
    
    @include for-mobile-layout() {
        padding-inline: 6rem;
        padding-block: .75rem;
        font-size: 1rem;
        border-color: $clr;

        &:hover {
            background-color: transparent !important;
            color: white !important;
        }
    }

    padding-inline: 3rem;
    padding-block: 1rem;

    cursor: pointer;
    transition: .25s;

    font-family: sans-serif;

    &:hover {
        background-color: $clr;
        border-color: $clr;
        color: black;
    }
}

@mixin btn-choice($clr) {
    background-color: $clr;
    border-color: $clr;
    color: black;
    cursor: default;
}

@mixin challenge-decore() {
    content: "";
    background: url('https://res.cloudinary.com/dlnkzbe0y/image/upload/v1735155432/MH-sop/otlsxgmo92asvad0fci6.png');
    background-repeat: no-repeat;
    display: block;
    width: 26rem;
    height: 15rem;
    position: absolute;
}