// Colors
$clr1: #121212;
$clr2: #202020;
$clr3: #000000;
$clr4: #fff;
$clr5: #bb88fc;
$clr6: #3700b3;
$clr7: #cf6679;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;